:root {
    --main-color: #fa1919;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}


header .logo {
    padding: 10px 20px;
    display: block;
    color: white;
    background-color: #fa1919;
    border-radius: 100px;
    text-decoration: none;
    font-size: 50px;
    font-family: "Acme", sans-serif;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }


    header nav ul li a {
        padding: 15px !important;
    }
}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a:hover {
    color: var(--main-color);
}

.landing {
    min-height: 130vh;
    background-color: #1f2021;
    background-image: url("../images/nguy-n-hi-p-2rNHliX6XHk-unsplash.jpg");
    background-size: cover;
    position: relative;
}

.landing .card {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1000px;
    height: 700px;
    padding: 25px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
}

.landing .card .imgBx {
    width: 350px;
    height: 420px;
    overflow: hidden;
    float: right;
}

.landing .card .imgBx img {
    width: 100%;
}

.landing .card .infrBx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.landing .card .infrBx h1 {
    color: #fa1919;
}



.input_feild {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input_feild label {
    width: 95%;
    color: #fa1919;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.input_feild input {
    height: 40px;
    width: 70%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.input_feild select {
    height: 40px;
    width: 70%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

button {
    display: block;
    width: 40%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: #fa1919;
}

button:hover {
    background: #fa1919;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* footer */
footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-color: #fa1919;
    position: relative;
    color: white;
    text-align: center;
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

footer .container {
    position: relative;
}

footer a {
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 50px;
    font-family: "Acme", sans-serif;
    color: white;
}

footer p a:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

footer .social-icons i {
    padding: 10px 15px;
}

footer p a {
    font-weight: bold;
    color: white;
}
