{% extends "layout.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_user_type.css') }}" />
{% endblock link %}
{% block content %}
   <div class="landing">
      <div class="card">
         <div class="imgBx">
             <img src="../static/images/nguy-n-hi-p-maYeMl3xCrY-unsplash.jpg" alt="Login">
         </div>
         <div class="infrBx">
             <div class="input_feild">
                 <label for="Hospital Login">Hospital Login</label>
                 <a href="{{ url_for('hospitals.hospital_login') }}">Login</a>
             </div>
             <div class="input_feild">
                 <label for="Donor Login">Donor Login</label>
                 <a href="{{ url_for('donors.existing_donor') }}">Login</a>
             </div>
         </div>
     </div>
   </div>
{% endblock content %}
