{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <!--replace it with the hospital name later-->
              <a class="mr-2" href="{{ url_for('hospital_urgent_requests', name=request.hospital_urgent_request.name) }}">{{ request.hospital_urgent_request.name }}</a> <!--using the backref : hospital_request in the Hospital relashioships-->              
              <small class="text-muted">{{ request.request_date.strftime('%Y-%m-%d') }}</small>
              {% if current_user.is_authenticated %}
                {% if session.get('user_type') == 'hospital' %}
                  {% if request.hospital_urgent_request.id == current_user.id  %}
                    <div>
                      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_urgent_request', urgent_request_id=request.id) }}">Update</a>
                      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <h2><a class="article-title" href="#">{{ 'Blood type: ' ~ request.blood_type }}</a></h2>
            
            <!--replace # with the google maps api-->
            <h2><a class="article-title" href="#">{{ 'Location: ' ~ request.hospital_urgent_request.street ~ ' ' ~ request.hospital_urgent_request.city ~ ', ' ~ request.hospital_urgent_request.country }}</a></h2>

         
            <p class="article-content">{{ 'Expiration date: ' ~ request.expiration_date.strftime('%Y-%m-%d') }}</p>
          </div>
          <!-- A condition to show the button just when the user is a donor-->
          <div>
            {% if current_user.is_authenticated %}
                {% if session.get('user_type') == 'donor' %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('urgent_donation', don_request_id=request.hospital_urgent_request.id) }}">Donate Now</a>
                {% endif %}
            {% else %}
            {% endif %}
          </div>
        </article>
        <!-- Modal to show an alert to confirm befor deleting-->

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Request?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_urgent_request', urgent_request_id=request.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
{% endblock content %}