body {
    background-image: linear-gradient(to right, #8a1515, #9d3b3b);
}

.landing {
    min-height: 150vh;
    position: relative;
}

.landing .card1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1000px;
    height: 990px;
    padding: 25px;
    background: #fff;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    display: ruby-text !important;
}

.landing .card1 .imgBx {
    width: 350px;
    height: 800px;
    overflow: hidden;
    float: right;
    justify-content: flex-end;
}

.landing .card1 .imgBx img {
    width: 100%;
    border-radius: 20px;
    margin-top: 150px;
    padding-top:200px ;
}

.landing .card1 .infrBx {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 40px;
    margin-left: 30px;
    justify-content: center;
}

.landing .card1 .infrBx h1 {
    align-items: center;
    color: #8a1515;
    font-family: "Acme", sans-serif;

}

.landing .card1 .infrBx .input_feild p {
    color: #8a1515;
    max-width: 600px;
    font-size: large;
}

.icons svg {
    width: 27px;
    display: ruby;
    margin-left: 15px;
}

.icons p {
    align-items: center;
    color: #8a1515;
    font-family: "Acme", sans-serif;
    font-size: 30px;
    margin-left: 25px;
}

.card {
    width: 700px;
    margin-right: 130px;
    border: none;
    background: transparent;
}

#submit{
    margin-left: 10px;
    justify-content: center;
    padding-left: 22px;
    padding-right: 22px;
    color: white;
    border: 3px solid white;
    background-color: #8c1818;
    border-radius: 100px;
    font-size:large;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.card-header h2 , .card-body h4 ,.card-body h3{
    color: #8a1515 !important;
    font-family: "Acme", sans-serif;
}

p {
    color: black;
}
