<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
   
    {% if title %}
        <title>LifeGiver - {{ title }}</title>
    {% else %}
        <title>LifeGiver</title>
    {% endif %}
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a class="navbar-brand" href="{{ url_for('home') }}">LifeGiver</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('requests') }}">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('urgent_requests') }}">Urgent Requests</a>
                </li>
            </ul>
            <span class="navbar-text">
            <!--Managing the logout and log in-->
            {% if current_user.is_authenticated %}
                {% if session.get('user_type') == 'donor' %}
                    <a class="nav-item nav-link" href="{{ url_for('donor_dashboard') }}">Donor Dashboard</a>
                {% elif session.get('user_type') == 'hospital' %}
                    <a class="nav-item nav-link" href="{{ url_for('new_request') }}">New Donation Request</a>
                    <a class="nav-item nav-link" href="{{ url_for('hospital_dashboard') }}">Hospital Dashboard</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="btn btn-primary mr-2" href="{{ url_for('new_donor') }}">New Donor</a>
                <a class="btn btn-secondary mr-2" href="{{ url_for('existing_donor') }}">Existing Donor</a>
                <a class="btn btn-success" href="{{ url_for('hospital') }}">Hospital</a>
                {% endif %}
            </span>
        </div>
    </nav>

<!-- to make flush messages pop up -->
    <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        
        {% block content %}
        {% endblock content%}
      </div>

</body>
</html>
